header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: seashell;
  font-size: 100px;
  font-variant: all-petite-caps;
  font-family: cursive;
  opacity: .8;
}


.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

body{
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-variant: all-petite-caps;
  font-family: cursive;
}


iframe {
  height: 555px;
  width: 60%;
  cursor: pointer;
}

.hoge {
  text-align: center;
}

a{
  font-size: 60px;
  font-weight: bold;
  font-variant: all-petite-caps;
  font-family: cursive;
  color: seashell;
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: seashell;
  font-size: 50px;
  font-variant: all-petite-caps;
  font-family: cursive;
  opacity: .7;
  padding: 15px 0;
  }


   /*小さいPC*/
@media screen and (max-width: 1280px){
  a{ font-size: 50px;
  }
}
/*タブ*/
@media screen and (max-width: 960px){
  a {font-size: 45px;
  }
}
/*スマホ*/
@media screen and (max-width: 480px){
  a {font-size: 40%;
  }
}