body {
  display: grid;
  grid-template-areas: 'header header'
                       'side main'
                       'footer footer';
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 1% 1fr;
  grid-gap: 15px;
  height: 100vh;
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: black;
  color: seashell;
  font-size: 80px;
  font-variant: all-petite-caps;
  font-family: cursive;
  opacity: .8;
}
aside {
  grid-area: side;
 }

main {
  grid-area: main;
  text-align: center;
  opacity: .9;
 }

.main-grid {
  display: grid;
  grid-template-rows: repeat(1, 30%);
  grid-template-columns: repeat(1, 20%);
  grid-gap: 4%;
  justify-content: center;
  padding: 20px;
}

 p {
  margin-top: 15px;
 }

 footer {
  grid-area: footer;
  text-align: center;
  background-color: black;
  color: seashell;
  font-size: 45px;
  font-variant: all-petite-caps;
  font-family: cursive;
  opacity: .7;
  width: 100%;
 }

   /*小さいPC*/
@media screen and (max-width: 1280px){
  header {
  font-size: 60px;
}
p {
  margin-top: 20px;
 }
  footer {
  font-size: 40px;
}

/*タブ*/
@media screen and (max-width: 960px){
  header {
    font-size: 60px;
  }

    iframe {
    width: 280px;
    height: 175px;
  }

  p {
  margin-top: 15px;
 }
  footer {
 text-align: center;
  font-size: 35px;
}
/*スマホ*/
@media screen and (max-width: 480px){
  }
  header {
    font-size: 60px;
  }
  iframe {
    width: 280px;
    height: 175px;
  }

  p {margin-top:5px;
  }
  footer {
  font-size: 35px;
  margin-top: 20px;
  }
}